<h1>Bienvenue sur NEWWWWWWWWWWWWWW</h1>
<p>YOOOOOOOOOOOOOOOOOo</p>
<form action="create" method= "post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="username"> <br>
  <hr>
  <input type="text" name="bio">
  <input type ="submit" name="Envoyer">
</form>
